# this is derived from https://github.com/BigWigsMods/packager/wiki/GitHub-Actions-workflow
name: Pre-release packages to Curse

on:
  push:
    tags:
      - "v*.*.*-*"

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}

    steps:
      - name: Clone project
        uses: actions/checkout@v2

      - name: Package and release for Classic
        uses: BigWigsMods/packager@master
        with:
          args: -g bcc -p 398490
